<div class="profile">
  <div class="title">
    <img class="avatar" src="{{ avatar }}" alt="{{ nickname }}">
    <div class="info">
      <p>昵称：{{ nickname }}</p>
      <p>邮箱：{{ email }}</p>
    </div>
  </div>
  <div class="overview">
    <h5>最近一周</h5>
    {{#with counts}}
    <ul class="info-tabs">
      <li class="tab">
        <span class="title">接受任务</span>
        <span class="data">{{ assigns }}</span>
      </li>
      <li class="tab">
        <span class="title">已完成任务</span>
        <span class="data">{{ completes }}</span>
      </li>
      <li class="tab">
        <span class="title">未完成任务</span>
        <span class="data">{{ incompletes }}</span>
      </li>
      <li class="tab">
        <span class="title">过期任务</span>
        <span class="data">{{ overdue }}</span>
      </li>
    </ul>
    {{/with }}
  </div>
  {{!-- <div class="analysis">
    <h5>统计</h5>
    <div class="chart"></div>
  </div> --}}
</div>