<div class="header">
  <div class="title">
    {{#if team_id}}
    <a class="back" href="#team-{{team_id}}">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    {{/if}}
    {{ name }}
  </div>
  <div class="dropdown subtitle">
    <span>子项目：</span>
    <a id="subproj-select" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
      <span></span>
      <b class="caret"></b>
    </a>
    <ul id="subproj-list" class="dropdown-menu" role="menu">
      <li><a class="subproj-new" href="javascript:void(0);">新建子项目</a></li>
    </ul>
  </div>
  <div class="tabs">
    <div class="tab active" data-index="tasks">任务</div>
    <div class="tab" data-index="settings">设置</div>
  </div>
</div>

<div class="wrap">
<div class="panel active" data-index="tasks">
  <div class="cols">
    <div class="large-col content"></div>
    <div class="small-col overview">
      <h5>项目名称：<span class="title">{{ name }}</span></h5>
      <h6>贡献者</h6>
      <ul class="contributor-list"></ul>
    </div>
  </div>
</div>
<div class="panel" data-index="settings">
  <div class="cols">
    <div class="small-col">
      <h5>修改项目信息</h5>
      <div id="proj-info" data-id="{{ id }}">
        <div class="form-group">
          <label>项目名称</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="名称" value="{{ name }}">
        </div>
        <div class="form-group">
          <button id="proj-update" class="btn btn-primary">更新</button>
        </div>
      </div>
      <h5>删除项目</h5>
      <a id="proj-delete" class="btn btn-danger">删除项目</a>
      <div class="confirm hide" data-id="{{ id }}">
        <button class="btn btn-sm btn-danger" data-action="confirm">确认删除？</button>
        <button class="btn btn-sm" data-action="cancel">取消</button>
      </div>
    </div>
    <div class="large-col">
      <h5>子项目管理</h5>
      <table class="table table-bordered">
        <thead>
          <td>项目名称</td>
          <td>操作</td>
        </thead>
        <tbody class="subprojs-table">
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>